# Игнорирование папки node_modules
node_modules/

# Игнорирование файла .env (конфигурационные переменные)
.env

# Игнорирование временных файлов
*.log
*.swp

# Игнорирование системных файлов
.DS_Store

# Игнорирование папки с собранными/временными файлами
build/
dist/

# Добавьте другие файлы и папки, которые не следует добавлять в репозиторий
